html {
    background-color: rgb(29, 29, 29);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#packages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#packages-list a {
    color: white;
    border-radius: 5px;
    margin: 7px;
    background-color: rgb(48, 77, 100);
    padding: 3px;
    text-decoration: none;
}

#packages-list div {
    margin-bottom: 7px;
}

#main {
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border-radius: 15px;
}

.buttons {
    text-decoration: none;
    color: aqua;
}

li {
    list-style: none;
}

.container {
    background-color: rgb(8, 8, 8);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}